*.pyc
*~
*.o
*.a
lobSTR
lobSTRIndex
allelotype
test.genotypes.tab
test.vcf
autom4te.cache/*
Makefile
config.h
stamp-h1
config.log
config.status
src/.deps
test.aligned.tab
test.aligned.bam
test.vcf
test.aligned.stats
test.allelotype.stats
test.post