---
---
<!doctype html>
<html>
  {% include header.html %}
  <body>
    <div class="wrapper">
      {% include menu.html %}
      <section>
	<h2>Documentation</h2>
	<h3>Best practices</h3>
	Recommended best practices for a variety of common lobSTR use cases:
	<ul>
	  <li><a href="best-practices-wgs-wes.html">Whole genome and whole exome sequencing</a></li>
	  <li><a href="best-practices-multi-sample-calling.html">Multi-sample calling</a></li>
	  <li><a href="best-practices-alignment.html">Recommendations for setting lobSTR alignment parameters</a></li>
	  <li><a href="best-practices-allelotyper.html">Recommendations for setting allelotype parameters</a></li>
	  <li><a href="best-practices-ystr-codis.html">Genotyping Y-STRs and CODIS markers</a></li>
	  <li><a href="best-practices-custom-reference.html">Generating a custom lobSTR reference</a></li>
	  <li><a href="best-practices-custom-noise-model.html">Generating a custom noise model</a></li>
	  <li><a href="best-practices-filtering.html">Filtering variants</a></li>
	</ul>
	<h3>File formats</h3>
	<ul>
	  <li><a href="file-formats.html">file formats</a> used by lobSTR</li>
	  <li><a href="lobstr-index.html">structure of the reference index</a> used by lobSTR</li>
	</ul>
	<h3>Allelotype</h3>
	<ul>
	  <li><a href="http://files.teamerlich.org/lobSTR/GSAStutterNoise_mgymrek.pdf">These slides</a> give more information about the updated lobSTR stutter model. (Note the information about the VCF format in these slides is out of date. Check the <a href="file-formats.html">file-formats</a> page for the most recent format information.</li>
	  <li><a href="stutter-model-files.html">stutter model files</a> used by allelotype</li>
	</ul>
	<p>
	<h2>Other</h2>
	<ul>
		<li><a href="validation-sets.html">Validation of lobSTR calls against capillary electrophoresis</a></li>
	</ul>
	<p>
	<h2>lobSTR-related posts</h2>
	<a href="http://melissagymrek.com/science/2014/04/04/stutternoise.html">Illumina PCR-free protocol greatly reduces stutter noise at STRs</a>

      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
