---
---
<!doctype html>
<html>
  {% include header.html %}
  <body>
    <div class="wrapper">
      {% include menu.html %}
      <section>
	<h2>Documentation</h2>
	<h3>File formats</h3>
	<ul>
	  <li><a href="file-formats.html">file formats</a> used by lobSTR</li>
	  <li><a href="lobstr-index.html">structure of the reference index</a> used by lobSTR</li>
	</ul>
	<h3>Allelotype</h3>
	<ul>
	  <li><a href="http://erlichlab.wi.mit.edu/lobSTR/GSAStutterNoise_mgymrek.pdf">These slides</a> give more information about the updated lobSTR stutter model. (Note the information about the VCF format in these slides is out of date. Check the <a href="file-formats.html">file-formats</a> page for the most recent format information.</li>
	</ul>
	<p>
	<h2>lobSTR-related posts</h2>
	<a href="http://melissagymrek.com/science/2014/04/03/stutternoise.html">Illumina PCR-free protocol greatly reduces stutter noise at STRs</a>
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
