---
---
<!doctype html>
<html>
  {% include header.html %}
  <body>
    <div class="wrapper">
      {% include menu.html %}
      <section>
	<h2>Documentation</h2>
	<a href="http://erlichlab.wi.mit.edu/lobSTR/GSAStutterNoise_mgymrek.pdf">These slides</a> give more information about the updated lobSTR stutter model. (Note the information about the VCF format in these slides is out of date. Check the <a href="file-formats.html">file-formats</a> page for the most recent format information.
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
