---
---
<!doctype html>
<html>
  {% include header.html %}
  <body>
    <div class="wrapper">
      {% include menu.html %}
      <section>
	<h2>Welcome</h2>
	lobSTR is a tool for profiling Short Tandem Repeats (STRs) from high throughput sequencing data.
	<p>
	<h2>Download lobSTR</h2>
	See the <a href="download.html">download page</a>. The latest available version of lobSTR is v3.0.3.
	<p>
	  <h2>About lobSTR</h2>
	<p>
	  The lobSTR publication is available here: <br><a href="http://genome.cshlp.org/content/early/2012/04/19/gr.135780.111.abstract"><emph>Gymrek M, Golan D, Rosset S, & Erlich Y. lobSTR: A short tandem repeat profiler for personal genomes. Genome Research. 2012 April 22.</emph></a>
	</p>
	<p>
	  To receive announcements on lobSTR updates, ask questions, or discuss lobSTR usage with other users, see the <a href="contact-us.html">contact</a> page or join our mailing list:
	  <table border=0 style="background-color: #fff; padding: 5px;" cellspacing=0>
	    <tr><td style="padding-left: 5px">
		<b>Subscribe to lobSTR user group</b>
	    </td></tr>
	    <form action="http://groups.google.com/group/lobstr-user-group/boxsubscribe">
	      <tr><td style="padding-left: 5px;">
		  Email: <input type=text name=email>
		  <input type=submit name="sub" value="Subscribe">
	      </td></tr>
	    </form>
	    <tr><td align=right>
		<a href="http://groups.google.com/group/lobstr-user-group">Visit this group</a>
	    </td></tr>
	  </table>
	</p>
	<!-- Place this tag where you want the +1 button to render -->
	<g:plusone annotation="inline"></g:plusone><br>
	<a name="fb_share"></a>
	<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share"
		type="text/javascript">
	</script><br>
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://jura.wi.mit.edu/erlich/lobSTR/index.html" data-text="Profiling STRs in person genomes">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
