---
---
<!doctype html>
<html>
  {% include header.html %}
  <body>
    <div class="wrapper">
      {% include menu.html %}
      <section>
	<h2>Genotyping Y-STR and CODIS markers</h2>
	<p>
	The lobSTR reference contains the Y-STR and CODIS markers
	listed in the table below. These markers were converted from
	standard nomenclature to hg19 nomenclature using the
	references given. To see a detailed tutorial on how to genotype these markers, see <a href="best-practices-ystr-codis.html">Best practices for genotyping Y-STR and CODIS markers</a>.
	</p>
	<p>
	Download bed files with Y-STR and CODIS info:
	<ul>
	  <li><a href="http://files.teamerlich.org/lobstr/v3/ref/lobSTR_ystr_hg19.bed">lobSTR_ystr_hg19.bed</a></li>
	  <li><a href="http://files.teamerlich.org/lobstr/v3/ref/lobSTR_codis_hg19.bed">lobSTR_codis_hg19.bed</a></li>
	</ul>
	</p>
	<p>
	  If you have a set of markers you would like to see added to
	  the reference, or if you have any corrections to the tables
	  below, please <a href="contact-us.html">contact us</a>.
	</p>
	<h3>CODIS</h3>	
	<table class="box-table-a" id="CODIS">
	  <thead>
    	    <tr>
              <th scope="col">Marker</th>
              <th scope="col">Location (hg19)</th>
              <th scope="col">Motif</th>
              <th scope="col">Nomenclature</th>
              <th scope="col">Reference allele</th>
            </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>TPOX</td>
	      <td>chr2:1493425-1493456</td>
	      <td>AATG</td>
	      <td>[AATG]n</td>
	      <td>8</td>
	    </tr>
	    <tr>
	      <td>D3S1358</td>
	      <td>chr3:45582231-45582294</td>
	      <td>TCTG/TCTA</td>
	      <td>[TCTA][TCTG]n[TCTA]m</td>
	      <td>16</td>
	    <tr>
	      <td>FGA</td>
	      <td>chr4:155508888-155508975</td>
	      <td>CTTT</td>
	      <td>[TTTC]3[TTTTTTCT]<br>[CTTT]14CTCC[TTCC]2</td>
	      <td>22</td>
	      
	    </tr>
	    <tr>
	      <td>D5S818</td>
	      <td>chr5:123111250-123111293</td>
	      <td>AGAT</td>
	      <td>[AGAT]n</td>
	      <td>11</td>
	      
	    </tr>
	    <tr>
	      <td>CSF1PO</td>
	      <td>chr5:149455887-149455938</td>
	      <td>AGAT</td>
	      <td>[AGAT]n</td>
	      <td>13</td>
	      
	    </tr>
	    <tr>
	      <td>D7S820</td>
	      <td>chr7:83789542-83789593</td>
	      <td>GATA</td>
	      <td>[GATA]n</td>
	      <td>13</td>
	      
	    </tr>
	    <tr>
	      <td>D8S1179 (GATA7G07)</td>
	      <td>chr8:125907115-125907158</td>
	      <td>TCTA</td>
	      <td>[TCTA]1[TCTG]1[TCTA]n</td>
	      <td>13</td>
	      
	    </tr>
	    <tr>
	      <td>TH01</td>
	      <td>chr11:2192318-2192345</td>
	      <td>AATG</td>
	      <td>[AATG]n</td>
	      <td>7</td>
	      
	    </tr>
	    <tr>
	      <td>D13S317 (GATA7G10)</td>
	      <td>chr13:82722160-82722203</td>
	      <td>TATC</td>
	      <td>[TATC]n</td>
	      <td>11</td>
	      
	    </tr>
	    <tr>
	      <td>Penta E</td>
	      <td>chr15:97374245-97374269</td>
	      <td>AAAGA</td>
	      <td>[AAAGA]n</td>
	      <td>5</td>
	      
	    </tr>
	    <tr>
	      <td>D16S539</td>
	      <td>chr16:86386308-86386351</td>
	      <td>GATA</td>
	      <td>[GATA]n</td>
	      <td>11</td>
	      
	    </tr>
	    <tr>
	      <td>D18S51</td>
	      <td>chr18:60948900-60948971</td>
	      <td>AGAA</td>
	      <td>[AGAA]n</td>
	      <td>18</td>
	      
	    </tr>
	    <tr>
	      <td>D21S11</td>
	      <td>chr21:20554291-20554417</td>
	      <td>TCTA/TCTG</td>
	      <td>[TCTA]4[TCTG]6[TCTA]3TA<br>
		[TCTA]3TCA[TCTA]2TCCATA[TCTA]11</td>
	      <td>29</td>
	      
	    </tr>
	    <tr>
	      <td>Penta D</td>
	      <td>chr21:45056086-45056150</td>
	      <td>AAAGA</td>
	      <td>[AAAGA]n</td>
	      <td>13</td>
	      
	    </tr>
	  </tbody>
	</table>	
	All CODIS nomenclature was taken from <a href="http://www.cstl.nist.gov/strbase/srm2395.htm">NIST</a><br><br>
	<h3>Y-STRs</h3>
	The data in this table is described in Table S5
	of <a target="_blank" href="http://www.sciencemag.org/content/suppl/2013/01/16/339.6117.321.DC1/1229566.Gymrek.SM.pdf">Gymrek, et
	al. 2013</a>
	<table class="box-table-a" id="YSTRTable">
	  <thead>
    	    <tr>
              <th scope="col">Marker</th>
              <th scope="col">Location (hg19)</th>
              <th scope="col">Motif</th>
              <th scope="col">Nomenclature</th>
              <th scope="col">Reference allele</th>
              <th scope="col" style="display:none;">Primers</th>
            </tr>
	  </thead>
	  <tbody>
    	    <tr>
              <td>DYS19/DYS394</td>
              <td>chrY:9521989-9522052</td>
              <td>TATC</td>
	      <td>[TAGA]3TAGG[TAGA]n</td>
	      <td>15</td>
	      <td><b>F:</b>ACTACTGAGTTTCTGTTATAGTGTTTTT<br>
		<b>R:</b>GTCAATCTCTGCACCTGGAAAT</td>
            </tr>
    	    <tr>
	      <td>DYS385a/b</td>
	      <td>chrY:20842518-20842573
	      <br>ALT: chrY:20801568-20801824</td>
	      <td>AGAA</td>
	      <td>[GAAA]n</td>
	      <td>14</td>
	      <td><b>F:</b>AGCATGGGTGACAGAGCTA<br>
		<b>R:</b>GCCAATTACATAGTCCTCCTTTC</td>
            </tr>
	    <tr>
	      <td>DYS388</td>
	      <td>chrY:14747535-14747570</td>
	      <td>AAT</td>
	      <td>[ATT]n</td>
	      <td>12</td>
	      <td><b>F:</b>GAATTCCATGTGAAGTTAGCCGTTTAGC<br>
		<b>R:</b>GAGGCGGAGCTTTTAGTGAG</td>
	    </tr>
	    <tr>
	      <td>DYS389I</td>
	      <td>chrY:14612243-14612289</td>
	      <td>TCTG/TCTA</td>
	      <td>[TCTG]3[TCTA]9</td>
	      <td>12</td>
	      <td><b>F:</b>CCAACTCTCATCTGTATTATCTATG<br>
	      <b>R:</b>GTTATCCCTGAGTAGTAGAAGAATG</td>
	    </tr>
	    <tr>
	      <td>DYS389II</td>
	      <td>chrY:14612242-14612405</td>
	      <td>TCTG/TCTA</td>
	      <td>[TCTG]5[TCTA]12N48<br>
		[TCTG]3[TCTA]9</td>
	      <td>29</td>
	      <td><b>F:</b>CCAACTCTCATCTGTATTATCTATG<br>
		<b>R:</b>GTTATCCCTGAGTAGTAGAAGAATG</td>
	    </tr>
	    <tr>
	      <td>(DYS389II.1)</td>
	      <td>chrY:14612242-14612310</td>
	      <td>TCTG/TCTA</td>
	      <td>[TCTG]5[TCTA]12N48<br>
		[TCTG]3[TCTA]9</td>
	      <td>17</td>
	      <td><b>F:</b>CCAACTCTCATCTGTATTATCTATG<br>
		<b>R:</b>GTTATCCCTGAGTAGTAGAAGAATG</td>
	    </tr>
	    <tr>
	      <td>(DYS389II.2)</td>
	      <td>chrY:14612358-14612405</td>
	      <td>TCTG/TCTA</td>
	      <td>[TCTG]5[TCTA]12N48<br>
		[TCTG]3[TCTA]9</td>
	      <td>12</td>
	      <td><b>F:</b>CCAACTCTCATCTGTATTATCTATG<br>
		<b>R:</b>GTTATCCCTGAGTAGTAGAAGAATG</td>
	    </tr>
	    <tr>
	      <td>DYS390</td>
	      <td>chrY:17274947-17275042</td>
	      <td>TCTG/TCTA</td>
	      <td>[TCTG]8[TCTA]11[TCTG]1[TCTA]4</td>
	      <td>24</td>
	      <td><b>F:</b>TATATTTTACACATTTTTGGGCC<br>
		<b>R:</b>GTGACAGTAAAATGAAAACATTGC</td>
	    </tr>
	    <tr>
	      <td>DYS391</td>
	      <td>chrY:14102795-14102838</td>
	      <td>TCTA</td>
	      <td>[TCTA]n</td>
	      <td>11</td>
	      <td><b>F:</b>TTCATCATACACCCATATCTGTC<br>
		<b>R:</b>GATAGAGGGATAGGTAGGCAGGC</td>
	    </tr>
	    <tr>
	      <td>DYS392</td>
	      <td>chrY:22633873-22633911</td>
	      <td>TAT</td>
	      <td>[TAT]n</td>
	      <td>13</td>
	      <td><b>F:TAGAGGCAGTCATCGCAGTG</b><br>
		<b>R:GACCTACCAATCCCATTCCTT</b></td>
	    </tr>
	    <tr>
	      <td>DYS393</td>
	      <td>chrY:3131152-3131199</td>
	      <td>AGAT</td>
	      <td>[AGAT]n</td>
	      <td>12</td>
	      <td><b>F:</b>GTGGTCTTCTACTTGTGTCAATAC</br>
		<b>F:</b>GAACTCAAGTCCAAAAAATGAGG</td>
	    </tr>
	    <tr>
	      <td>DYS406S1</td>
	      <td>chrY:23843595-23843634</td>
	      <td>TATC</td>
	      <td>[TATC]n</td>
	      <td>10</td>
	      <td><b>F:</b>CCTGGGTGACACAGTGAGACT<br>
	      <b>R:TCCACCAAAATTCCATGACA</b></td>
	    </tr>
	    <tr>
	      <td>DYS413a/b</td>
	      <td>chrY:16099088-16099133<br>
	      ALT: chrY:16167253-16167426</td>
	      <td>TG</td>
	      <td>[TG]n</td>
	      <td>23</td>
	      <td><b>F:AATGTGTGAGCCAATTGTTTAGAA</b><br>
		<b>R:GAAACTAAACCAAACAGGATACTC</b></td>
	    </tr>
	    <tr>
	      <td>DYS426</td>
	      <td>chrY:19134850-19134885</td>
	      <td>GTT</td>
	      <td>[GTT]n</td>
	      <td>12</td>
	      <td><b>F:</b>CTCAAAGTATGAAAGCATGACCA<br>
		<b>R:</b>GGTGACAAGACGAGACTTTGTG</td>
	    </tr>
	    <tr>
	      <td>DYS434</td>
	      <td>chrY:14466533-14466568</td>
	      <td>CTAT</td>
	      <td>TAAT[CTAT]n</td>
	      <td>9</td>
	      <td><b>F:</b>CACTCCCTGAGTGCTGGATT<br>
		<b>R:</b>GGAGATGAATGAATGGATGGA</td>
	    </tr>
	    <tr>
	      <td>DYS435</td>
	      <td>chrY:14496298-14496333</td>
	      <td>TGGA</td>
	      <td>[TGGA]n</td>
	      <td>9</td>
	      <td><b>F:</b>AGCATCTCCACACAGCACAC<br>
		<b>R:</b>TTCTCTCTCCCCCTCCTCTC</td>
	    </tr>
	    <tr>
	      <td>DYS436</td>
	      <td>chrY:15203862-15203897</td>
	      <td>GTT</td>
	      <td>[GTT]n</td>
	      <td>12</td>
	      <td><b>F:</b>CCAGGAGAGCACACACAAAA<br>
		<b>R:</b>GCAATCCAACTTCAGCCAAT</td>
	    </tr>
	    <tr>
	      <td>DYS437</td>
	      <td>chrY:14466994-14467057</td>
	      <td>TCTA</td>
	      <td>[TCTA]10[TCTG]2[TCTA]4</td>
	      <td>16</td>
	      <td><b>F:</b>GACTATGGGCGTGAGTGCAT<br>
		<b>R:</b>GAGACCCTGTCATTCACAGATGA</td>
	    </tr>
	    <tr>
	      <td>DYS438</td>
	      <td>chrY:14937824-14937873</td>
	      <td>TTTTC</td>
	      <td>[TTTTC]n</td>
	      <td>10</td>
	      <td><b>F:</b>CCAAAATTAGTGGGGAATAGTTG<br>
		<b>R:</b>GATCACCCAGGGTCTGGAGTT</td>
	    </tr>
	    <tr>
	      <td>DYS439</td>
	      <td>chrY:14515312-14515363</td>
	      <td>GATA</td>
	      <td>[GATA]n</td>
	      <td>13</td>
	      <td><b>F:</b>TCGAGTTGTTATGGTTTTAGGTCT<br>
		<b>R:</b>GTGGCTTGGAATTCTTTTACCC</td>
	    </tr>
	    <tr>
	      <td>DYS441</td>
	      <td>chrY:14981831-14981908</td>
	      <td>TTCC</td>
	      <td>[TTCC]n</td>
	      <td>16</td>
	      <td><b>F:</b>AAGTTGCAGTGAGCGAAGATTG<br>
		<b>R:</b>ATGTACCTGTAGCCCCAGTGAAC</td>
	    </tr>
	    <tr>
	      <td>DYS442</td>
	      <td>chrY:14761103-14761168</td>
	      <td>TATC/TGTC</td>
	      <td>[TATC]2[TGTC]3[TATC]12</td>
	      <td>17</td>
	      <td><b>F:</b>CCCCAAGTCCCCAAAGTGTGT<br>
		<b>R:</b>AAACGCCCATCAATCAATGAGTG</td>
	    </tr>
	    <tr>
	      <td>DYS444</td>
	      <td>chrY:19226192-19226247</td>
	      <td>TAGA</td>
	      <td>[TAGA]n</td>
	      <td>14</td>
	      <td><b>F:</b>GTGTGAACCATTTGGCATGTTTA<br>
		<b>R:</b>TCTAAGGGATCCAAAGGCAGAA</td>
	    </tr>
	    <tr>
	      <td>DYS445</td>
	      <td>chrY:22092602-22092649</td>
	      <td>TTTA</td>
	      <td>[TTTA]n</td>
	      <td>12</td>
	      <td><b>F:</b>AGTTAAGAGCCCCACCTTCCTG<br>
		<b>R:</b>GAGCTGAGATTATGCCACCAAAA</td>
	    </tr>
	    <tr>
	      <td>DYS446</td>
	      <td>chrY:3131458-3131527</td>
	      <td>TCTCT</td>
	      <td>[TCTCT]n</td>
	      <td>14</td>
	      <td><b>F:</b>TATTTTCAGTCTTGTCCTGT<br>
		<b>R:</b>AAATGTATGGCCAACATAGCAAAACCA</td>
	    </tr>
	    <tr>
	      <td>DYS447</td>
	      <td>chrY:15278740-15278854</td>
	      <td>TAATA/TAAAA</td>
	      <td>[TAATA]6[TAAAA]1[TAATA]<br>9[TAAAA]1[TAATA]6</td>
	      <td>23</td>
	      <td><b>F:</b>GGTCACAGCATGGCTTGGTT<br>
		<b>R:</b>GGGCTTGCTTTGCGTTATCTCT</td>
	    </tr>
	    <tr>
	      <td>DYS448</td>
	      <td>chrY:24365070-24365225</td>
	      <td>AGAGAT</td>
	      <td>[AGAGAT11N42[AGAGAT]8</td>
	      <td>19</td>
	      <td><b>F:</b>TGGGAGAGGCAAGGATCCAA<br>
		<b>R:</b>GTCATATTTCTGGCCGGTCTGG</td>
	    </tr>
	    <tr>
	      <td>(DYS448.1)</td>
	      <td>chrY:24365070-24365136</td>
	      <td>AGAGAT</td>
	      <td>[AGAGAT11N42[AGAGAT]8</td>
	      <td>11</td>
	      <td><b>F:</b>TGGGAGAGGCAAGGATCCAA<br>
		<b>R:</b>GTCATATTTCTGGCCGGTCTGG</td>
	    </tr>
	    <tr>
	      <td>(DYS448.2)</td>
	      <td>chrY:24365178-24365225</td>
	      <td>AGAGAT</td>
	      <td>[AGAGAT11N42[AGAGAT]8</td>
	      <td>8</td>
	      <td><b>F:</b>TGGGAGAGGCAAGGATCCAA<br>
		<b>R:</b>GTCATATTTCTGGCCGGTCTGG</td>
	    </tr>
	    <tr>
	      <td>DYS449</td>
	      <td>chrY:8218014-8218179</td>
	      <td>TTTC</td>
	      <td>[TTTC]15[N]50[TTTC]14</td>
	      <td>27</td>
	      <td><b>F:</b>TGGAGTCTCTCAAGCCTGTTCTA<br>
		<b>R:</b>CCTGGAAGTGGAGTTTGCTGT</td>
	    </tr>
	    <tr>
	      <td>(DYS449.1)</td>
	      <td>chrY:8218014-8218074</td>
	      <td>TTTC</td>
	      <td>[TTTC]15[N]50[TTTC]14</td>
	      <td>13</td>
	      <td><b>F:</b>TGGAGTCTCTCAAGCCTGTTCTA<br>
		<b>R:</b>CCTGGAAGTGGAGTTTGCTGT</td>
	    </tr>
	    <tr>
	      <td>(DYS449.2)</td>
	      <td>chrY:8218124-8218179</td>
	      <td>TTTC</td>
	      <td>[TTTC]15[N]50[TTTC]14</td>
	      <td>14</td>
	      <td><b>F:</b>TGGAGTCTCTCAAGCCTGTTCTA<br>
		<b>R:</b>CCTGGAAGTGGAGTTTGCTGT</td>
	    </tr>
	    <tr>
	      <td>DYS450</td>
	      <td>chrY:8126300-8126344</td>
	      <td>TTTTA</td>
	      <td>[TTTTA]n</td>
	      <td>8</td>
	      <td><b>F:</b>CCAGTGATAATTCAGATGATATG<br>
		<b>R:</b>GCCTTTCCAATTTCAATTTCTG</td>
	    </tr>
	    <tr>
	      <td>DYS452</td>
	      <td>chrY:21620478-21620632</td>
	      <td>TATAC/CATAC</td>
	      <td>[TATAC]2[TGTAC]2<br>[TATAC]12[CATAC]<br>
		[TATAC][CATAC]<br>[TATAC]3[CATAC]2<br>
		[TATAC]3[CATAC][TATAC]3</td>
	      <td>31</td>
	      <td><b>F:</b>GTGGTGTTCTGATGAGGATAATT<br>
		<b>R:</b>TTTATTATACTCAGCTAATTAATTGGTT</td>
	    </tr>
	    <tr>
	      <td>DYS454</td>
	      <td>chrY:8224156-8224199</td>
	      <td>AAAT</td>
	      <td>[AAAT]n</td>
	      <td>11</td>
	      <td><b>F:</b>GACTGACCTCACATTGTTGTTAA<br>
		<b>R:</b>GACATGTAGCTCTTCACTTCAC</td>
	    </tr>
	    <tr>
	      <td>DYS455</td>
	      <td>chrY:6911569-6911612</td>
	      <td>AAAT</td>
	      <td>[AAAT]n</td>
	      <td>11</td>
	      <td><b>F:</b>CTGAGCCGAGAGAATGATAC<br>
		<b>R:</b>GGGGTGGAAACGAGTGTTC</td>
	    <tr>
	    </tr>
	      <td>DYS456</td>
	      <td>chrY:4270960-4271019</td>
	      <td>AGAT</td>
	      <td>[AGAT]n</td>
	      <td>15</td>
	      <td><b>F:</b>GGACCTTGTGATAATGTA<br>
		<b>R:</b>CCCATCAACTCAGCCCAAAAC</td>
	    </tr>
	    <tr>
	      <td>DYS458</td>
	      <td>chrY:7867880-7867943</td>
	      <td>GAAA</td>
	      <td>[GAAA]n</td>
	      <td>16</td>
	      <td><b>F:</b>AGCAACAGGAATGAAACTCCAAT<br>
		<b>R:</b>CCACCACGCCCACCCTCC</td>
	    </tr>
	    <tr>
	      <td>DYS459a/b</td>
	      <td>chrY:26078851-26078890
	      <br>ALT: chrY:27883469-27883616</td>
	      <td>TAAA</td>
	      <td>[TAAA]n</td>
	      <td>10</td>
	      <td><b>F:</b>TTGAGCAACAGAGCAAGACTTA<br>
		<b>R:</b>CAGGTGAACTGGGGTAAATAAT</td>
	    </tr>
	    <tr>
	      <td>DYS460</td>
	      <td>chrY:21050842-21050881</td>
	      <td>ATAG</td>
	      <td>[ATAG]n</td>
	      <td>10</td>
	      <td><b>F:</b>GAGGAATCTGACACCTCTGACA<br>
		<b>R:</b>GTCCATATCATCTATCCTCTGCCTA</td>
	    </tr>
	    <tr>
	      <td>DYS461</td>
	      <td>chrY:21050690-21050737</td>
	      <td>TAGA</td>
	      <td>[TAGA]n[CAGA]</td>
	      <td>12</td>
	      <td><b>F:</b>AGGCAGAGGATAGATGATATGGATAGACAGATA<br>
		<b>R:</b>TTCAGGTAAATCTGTCCAGTA</td>
	    </tr>
	    <tr>
	      <td>DYS462</td>
	      <td>chrY:21317047-21317090</td>
	      <td>TATG</td>
	      <td>[TATG]n</td>
	      <td>11</td>
	      <td><b>F:</b>TGTGCTGTACCAGTTGCCTA<br>
		<b>R:</b>CCAGCCTGAGCAAGAGAGTA</td>
	    </tr>
	    <tr>
	      <td>DYS463</td>
	      <td>chrY:7643509-7643628</td>
	      <td>AAAGG/AAGGG</td>
	      <td>[AAAGG]7[AAGGG]15[AAGGA]2</td>
	      <td>24</td>
	      <td><b>F:</b>AATTCTAGGTTTGAGCAAAGACA<br>
		<b>R:</b>ATGAGGTTGTGTGACTTGACTG</td>
	    </tr>
	    <tr>
	      <td>DYS472</td>
	      <td>chrY:16508484-16508507</td>
	      <td>AAT</td>
	      <td>[AAT]n</td>
	      <td>8</td>
	      <td><b>F:</b>AGATTGTCCCACCTGCACTC<br>
		<b>R:</b>GAGGCACTGTGTTCAGCAAA</td>
	    </tr>
	    <tr>
	      <td>DYS481</td>
	      <td>chrY:8426378-8426443</td>
	      <td>CTT</td>
	      <td>[CTT]n</td>
	      <td>22</td>
	      <td><b>F:</b>AGGAATGTGGCTAACGCTGT<br>
		<b>R:</b>ACAGCTCACCAGAAGGTTGC</td>
	    </tr>
	    <tr>
	      <td>DYS485</td>
	      <td>chrY:22099634-22099681</td>
	      <td>TTA</td>
	      <td>[TTA]n</td>
	      <td>16</td>
	      <td><b>F:</b>CCTGGGTGACAAGAGTTATACTCT<br>
		<b>R:</b>GTTTCTTGCAGACTTCGCCACTACATAAT</td>
	    </tr>
	    <tr>
	      <td>DYS487</td>
	      <td>chrY:8914174-8914212</td>
	      <td>TTA</td>
	      <td>[TTA]n</td>
	      <td>13</td>
	      <td><b>F:</b>TGTGGGAGGCCTTAAGAAAA<br>
		<b>R:</b>CCTGGGCAACAGAGAAAGAC</td>
	    </tr>
	    <tr>
	      <td>DYS490</td>
	      <td>chrY:3443765-3443800</td>
	      <td>TTA</td>
	      <td>[TTA]n</td>
	      <td>12</td>
	      <td><b>F:</b>CTGAGCTGAGATCACGCC<br>
		<b>R:</b>GTTTCTTACGATATGAAAAAGCAGTATGTCCT</td>
	    </tr>
	    <tr>
	      <td>DYS492</td>
	      <td>chrY:17414337-17414369</td>
	      <td>TTA</td>
	      <td>[TTA]n</td>
	      <td>12</td>
	      <td><b>F:</b>AGATGAGCCAGGCTTCAGAC<br>
		<b>R:</b>AGTAGGGGTCAGGCACAATG</td>
	    </tr>
	    <tr>
	      <td>DYS494</td>
	      <td>chrY:21386168-21386197</td>
	      <td>TTA</td>
	      <td>[TTA]n</td>
	      <td>10</td>
	      <td><b>F:</b>TTGCAACACTGTTCATTTGGA<br>
		<b>R:</b>AACAAACCTGCATGTTCTTCAA</td>
	    </tr>
	    <tr>
	      <td>DYS495</td>
	      <td>chrY:15011300-15011346</td>
	      <td>AAT</td>
	      <td>[AAT]n</td>
	      <td>15</td>
	      <td><b>F:</b>AGCAAACTTTGAAGCCAGAAAG<br>
		<b>R:</b>GTTTCTTCTTGGGCAACAGAGCGAGA</td>
	    </tr>
	    <tr>
	      <td>DYS505</td>
	      <td>chrY:3640831-3640878</td>
	      <td>TCCT</td>
	      <td>[TCCT]n</td>
	      <td>12</td>
	      <td><b>F:</b>TCTGGCGAAGTAACCCAAAC<br>
		<b>R:</b>GTTTCTTTCGAGTCAGTTCACCAGAAGG</td>
	    </tr>
	    <tr>
	      <td>DYS511</td>
	      <td>chrY:17304923-17304958</td>
	      <td>GATA</td>
	      <td>[GATA]n</td>
	      <td>9</td>
	      <td><b>F:</b>GATAGGATGGGGTGGATGTG<br>
		<b>R:</b>TGTGAATTCCCCTTCTACATCTC</td>
	    </tr>
	    <tr>
	      <td>DYS520</td>
	      <td>chrY:7730432-7730511</td>
	      <td>ATAG/ATAC</td>
	      <td>[ATAG]n[ATAC]n</td>
	      <td>20</td>
	      <td><b>F:</b>AACAGCCTGCCCAACATAGT<br>
		<b>R:</b>GTTTCTTACCATCATGCCCTGCAATA</td>
	    </tr>
	    <tr>
	      <td>DYS522</td>
	      <td>chrY:7415625-7415664</td>
	      <td>GATA</td>
	      <td>[GATA]n</td>
	      <td>10</td>
	      <td><b>F:</b>CCTTTGAAATCATTCATAATGC<br>
		<b>R:</b>GTTTCTTTCATAAACAGAGGGTTCTGG</td>
	    </tr>
	    <tr>
	      <td>DYS531</td>
	      <td>chrY:8466195-8466238</td>
	      <td>AAAT</td>
	      <td>[AAAT]n</td>
	      <td>11</td>
	      <td><b>F:</b>GACCCACTGGCATTCAAATC<br>
		<b>R:</b>TGCTCCCTTTCTTTGTAGACG</td>
	    </tr>
	    </tr>
	    <tr>
	      <td>DYS533</td>
	      <td>chrY:18393226-18393273</td>
	      <td>ATCT</td>
	      <td>[ATCT]n</td>
	      <td>12</td>
	      <td><b>F:</b>CATCTAACATCTTTGTCATCTACC<br>
		<b>R:</b>GTTTCTTTGATCAGTTCTTAACTCAACCA</td>
	    </tr>
	    </tr>
	    <tr>
	      <td>DYS534</td>
	      <td>chrY:18392976-18393035</td>
	      <td>CTTT</td>
	      <td>[CTTT]n</td>
	      <td>15</td>
	      <td><b>F:</b>CATCTACCCAACATCCATCTA<br>
		<b>R:</b>GTTTCTTGACAAAGATGTTAGATGAATAGACA</td>
	    </tr>
	    </tr>
	    <tr>
	      <td>DYS537</td>
	      <td>chrY:19358850-19358889</td>
	      <td>TCTA</td>
	      <td>[TCTA]n</td>
	      <td>10</td>
	      <td><b>F:</b>GGTCTCCAATTCCATCCAGA<br>
		<b>R:</b>TGGAACATGCCCATTAATCA</td>
	    </tr>
	    </tr>
	    <tr>
	      <td>DYS549</td>
	      <td>chrY:21520224-21520275</td>
	      <td>GATA</td>
	      <td>[GATA]n</td>
	      <td>13</td>
	      <td><b>F:</b>AACCAAATTCAGGGATGTACTGA<br>
		<b>R:</b>GTCCCCTTTTCCATTTGTGA</td>
	    </tr>
	    </tr>
	    <tr>
	      <td>DYS556</td>
	      <td>chrY:22601453-22601496</td>
	      <td>AATA</td>
	      <td>[AATA]n</td>
	      <td>11</td>
	      <td><b>F:</b>TGCTGTCACATCACCAATG<br>
		<b>R:</b>GTTTCTTTTTGGTTGCTGAAGCATTGA</td>
	    </tr>
	    </tr>
	    <tr>
	      <td>DYS557</td>
	      <td>chrY:23234712-23234775</td>
	      <td>TTTC</td>
	      <td>[TTTC]n</td>
	      <td>16</td>
	      <td><b>F:</b>TTTTCTGTGCCAAGCCTACA<br>
		<b>R:</b>TCTAATGCACCTTGAGGGATG</td>
	    </tr>
	    </tr>
	    <tr>
	      <td>DYS565</td>
	      <td>chrY:16526732-16526775</td>
	      <td>AATA</td>
	      <td>[AATA]n</td>
	      <td>12</td>
	      <td><b>F:</b>AAACCCAGGAAGCAGTGTTG<br>
		<b>R:</b>CCTGGCTCAGCACATGAATA</td>
	    </tr>
	    </tr>
	    <tr>
	      <td>DYS568</td>
	      <td>chrY:8822555-8822594</td>
	      <td>TAAA</td>
	      <td>[TAAA]n</td>
	      <td>11</td>
	      <td><b>F:</b>GTGGCAGACAAAACCCAGTT<br>
		<b>R:</b>TTGAAAAGGGATGGGACTCA</td>
	    </tr>
	    <tr>
	      <td>DYS570</td>
	      <td>chrY:6861231-6861298</td>
	      <td>TTTC</td>
	      <td>[TTTC]n</td>
	      <td>17</td>
	      <td><b>F:</b>GAACTGTCTACAATGGCTCACG<br>
		<b>R:</b>TCAGCATAGTCAAGAAACCAGACA</td>
	    </tr>
	    <tr>
	      <td>DYS572</td>
	      <td>chrY:3679660-3679699</td>
	      <td>AAAT</td>
	      <td>[AAAT]n</td>
	      <td>10</td>
	      <td><b>F:</b>CTAAGGACGCCTCCCATACA<br>
		<b>R:</b>CTCATTCCCTATGGTTTGCAC</td>
	    </tr>
	    <tr>
	      <td>DYS575</td>
	      <td>chrY:7436257-7436296</td>
	      <td>AAAT</td>
	      <td>[AAAT]n</td>
	      <td>10</td>
	      <td><b>F:</b>GGTGGTGGACATCCGTAATC<br>
		<b>R:</b>AGTAATGGGATGCTGGGTCA</td>
	    </tr>
	    <tr>
	      <td>DYS576</td>
	      <td>chrY:7053359-7053426</td>
	      <td>AAAG</td>
	      <td>[AAAG]n</td>
	      <td>16</td>
	      <td><b>F:</b>TTGGGCTGAGGAGTTCAATC<br>
		<b>R:</b>GGCAGTCTCATTTCCTGGAG</td>
	    </tr>
	    <tr>
	      <td>DYS578</td>
	      <td>chrY:22562564-22562599</td>
	      <td>AAAT</td>
	      <td>[AAAT]n</td>
	      <td>9</td>
	      <td><b>F:</b>GAGGCGGAACTTTCAGTGAG<br>
		<b>R:</b>GCTTCAACAACCCTGGACAT</td>
	    </tr>
	    <tr>
	      <td>DYS589</td>
	      <td>chrY:24485693-24485757</td>
	      <td>TTATT</td>
	      <td>[TTATT]n</td>
	      <td>12</td>
	      <td><b>F:</b>CATCCACATTGTTGCAAAGG<br>
		<b>R:</b>TGACGAGTTAGTGGGTGCAG</td>
	    </tr>
	    <tr>
	      <td>DYS590</td>
	      <td>chrY:8555980-8556019</td>
	      <td>TTTTG</td>
	      <td>[TTTTG]n</td>
	      <td>8</td>
	      <td><b>F:</b>GGGAACATAGTCGGGCTGTA<br>
		<b>R:</b>GGGTGACAGAGCAAGAATCC</td>
	    </tr>	    
            <tr>
	      <td>DYS594</td>
	      <td>chrY:21656837-21656886</td>
	      <td>AAATA</td>
	      <td>[AAATA]n</td>
	      <td>10</td>
	      <td><b>F:</b>GATGTGCCTAATGCCACAGA<br>
		<b>R:</b>GTTTCTTCCCTGGTGTTAATCGTGTCC</td>
	    </tr>
            <tr>
	      <td>DYS607</td>
	      <td>chrY:18414382-18414457</td>
	      <td>GAAG</td>
	      <td>[GAAG]15[GAAA][GAAG][GAAA][GAAG]</td>
	      <td>19</td>
	      <td><b>F:</b>AGCATACAGCGTAATCACAGC<br>
		<b>R:</b>TCAGACAAAGCCCAGTTGAG</td>
	    </tr>
            <tr>
	      <td>DYS617</td>
	      <td>chrY:19081518-19081553</td>
	      <td>TTA</td>
	      <td>[TTAn]</td>
	      <td>12</td>
	      <td><b>F:</b>AGCATGATGCCTTCAGCTTT<br>
		<b>R:</b>GGATTGGGGAGTGATAGCAT</td>
	    </tr>
            <tr>
	      <td>DYS635</td>
	      <td>chrY:14379564-14379655</td>
	      <td>TCTA/TGTA</td>
	      <td>[TCTA]4[TGTA]2[TCTA]2[TGTA]2<br>
		[TCTA]2[TGTA]2[TCTA]9</td>
	      <td>23</td>
	      <td><b>F:</b>ACCAGCCCAAATATCCATCA<br>
		<b>R:</b>TGGAATGCTCTCTTGGCTTC</td>
	    </tr>
            <tr>
	      <td>DYS636</td>
	      <td>chrY:22634857-22634900</td>
	      <td>TTTA</td>
	      <td>[TTTA]n</td>
	      <td>12</td>
	      <td><b>F:</b>AATCCCATTGCATTTAGCAGA<br>
		<b>R:</b>TGACACGTTAGTGGGTGCAG</td>
	    </tr>
            <tr>
	      <td>DYS638</td>
	      <td>chrY:17645491-17645534</td>
	      <td>TTTA</td>
	      <td>[TTTA]n</td>
	      <td>11</td>
	      <td><b>F:</b>ACAATTTCCCTTGGGGCTAC<br>
		<b>R:</b>CATGGTGGTAGGCACCTGTA</td>
	    </tr>
            <tr>
	      <td>DYS640</td>
	      <td>chrY:3279702-3279737</td>
	      <td>TAAA</td>
	      <td>[TAAA]n</td>
	      <td>9</td>
	      <td><b>F:</b>CTGGGCCACAGAGTGAGAC<br>
		<b>R:</b>GGGCCAGTCTTTGCAATATC</td>
	    </tr>
            <tr>
	      <td>DYS641</td>
	      <td>chrY:16134296-16134335</td>
	      <td>TAAA</td>
	      <td>[TAAA]n</td>
	      <td>10</td>
	      <td><b>F:</b>CTTGAGCCCAGGAAGCATAG<br>
		<b>R:</b>GTTTCTTCCACACGATGCAATTTTGTC</td>
	    </tr>
            <tr>
	      <td>DYS643</td>
	      <td>chrY:17426012-17426066</td>
	      <td>CTTTT</td>
	      <td>[CTTTT]n</td>
	      <td>11</td>
	      <td><b>F:</b>AAGCCATGCCTGGTTAAACT<br>
		<b>R:</b>GTTTCTTTGTAACCAAACACCACCCATT</td>
	    </tr>
            <tr>
	      <td>DYS714</td>
	      <td>chrY:22147731-22147865</td>
	      <td>TTTCT/CTTCT/TTTCT</td>
	      <td>[TTTCT]n[CTTCT]n[TTTCT]n<br>
		[CTTCT]n[TTTCT]n</td>
	      <td>27</td>
	      <td><b>F:</b>GTATTAGGCCATCTTGCCAGC<br>
		<b>R:</b>TTTTCTACCTATGATGCCCTTT</td>
	    </tr>
            <tr>
	      <td>DYS717</td>
	      <td>chrY:17313245-17313324</td>
	      <td>GTACT/GTATT</td>
	      <td>[GTACT]m[GTATT]n</td>
	      <td>16</td>
	      <td><b>F:</b>GGCCGAGAGAATGGAATTGAT<br>
		<b>R:</b>GTTTCTTCCCGAACTTCAGCACTATGAAATG</td>
	    </tr>
            <tr>
	      <td>GATA-A10</td>
	      <td>chrY:18718879-18718938</td>
	      <td>TATC</td>
	      <td>[TCCA]2[TATC]13</td>
	      <td>15</td>
	      <td><b>F:</b>CCTGCCATCTCTATTTATCTTGCATATA<br>
		<b>R:</b>ATAAATGGAGATAGTGGGTGGATT</td>
	    </tr>
            <tr>
	      <td>GATA-H4</td>
	      <td>chrY:18743553-18743600</td>
	      <td>TAGA</td>
	      <td>[TAGA]n</td>
	      <td>12</td>
	      <td><b>F:</b>ATGCTGAGGAGAATTTCCAA<br>
		<b>R:</b>ATGCTGAGGAGAATTTCCAA</td>
	    </tr>
	    <tr>
	      <td>DYS395S1a/b</td>
	      <td>chrY:20440393-20440433
		<br>ALT: chrY:21279953-21279993</td>
	      <td>AAC</td>
	      <td>[AAC]n</td>
	      <td>15</td>
	    </tr>
            <tr>
	      <td>YCAIIa/b</td>
	      <td>chrY:19622111-19622156<br>ALT: chrY:19016986-19017135</td>
	      <td>CA</td>
	      <td>[CA]n</td>
	      <td>23</td>
	      <td><b>F:</b>TGTCAAAATTTAACCCACAATCA<br>
		<b>R:</b>GCAGTCTTTCACCATAAGGTTAGC</td>
	    </tr>
	    <tr>
	      <td>DYS464a/b/c/d</td>
	      <td>chrY:27087611-27087670 (+3 ALT locations)</td>
	      <td>CCTT</td>
	      <td>[CCTT]n</td>
	      <td>15</td>
	      <td></td>
	    </tr>
	  </tbody>
	</table>
        Most marker nomenclatures were obtained
	from <a href="http://www.cstl.nist.gov/strbase/srm2395.htm" target="_blank">NIST</a>. Exceptions
	are:
<ul>
<li>SMGF nomenclature was used for: DYS389, DYS449, DYS452, DYS461,
  DYS463, and GATA-A10.</li>
<li>Genbase nomenclature was used for: DYS413a/b, DYS472, DYS487,
  DYS492, DYS494, DYS511, DYS520, DYS537, DYS568, DYS578, DYS590,
  DYS617, DYS640, DYS714 and DYS717</li>
</ul>

	<h2>Converting lobSTR calls to standard Y-STR/CODIS
	nomenclature</h2>
	<p>
	lobSTR results are given as the number of base pairs length
	difference from the reference sequence. To conert a
	lobSTR call at one of these loci to the standard nomenclature,
	use the simple formula: RefCopyNum +
	lobSTRAllele/MotifLength. A more in depth tutorial on doing
	this is at <a href="best-practices-ystr-codis.html">Best practices: Genotyping Y-STRs and CODIS markers</a>.
	</p>
      </section>
    </div>
    {% include footer.html %}
  </body>
</html>
